.main{
	background-color: blue;
	border-radius: 10px;
	margin-top: 5%;
	height: 300px;
}

.message{
	background-color: green;
}


.my_button {

	width: 140px;
	background-color: yellow;
	padding: 5px;
	position:relative;
	margin-top: 10%;
	margin-left:10%;
	border-radius: 5px;
	align-content:center;
	font-weight:bold;
	animation: example 5s linear 2s infinite alternate;

}

@keyframes example {
  0%   {background-color:red; left:0%; top:0%;}
  25%  {background-color:yellow; left:40%; top:1%;}
  50%  {background-color:yellow; left:50%; top:40%;}
  75%  {background-color:yellow; left:30%; top:70%;}
  100% {background-color:green; left:0%; top:30%;}
  }


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

	li {
  		float: none;
	}

}