body{
	margin: 0px;
	font-size: 30px;
	font-family: serif;

}

/*body-Header*/

#body-header{

	margin:0px;
	padding: 0px;
	height:65vh;
	background-image:url(header.jpg);
	background-size: cover;
	opacity: 0.8;
	background-position:center;
	background-attachment: fixed;
	font-family: sans-serif;
}


/*Horizontal-lists*/

.horizontal-list {
	text-align: center;
	margin:0px;
	padding: 0px;

}

.horizontal-list li{
	display: inline-block;
	padding: 0px;
	margin: 0px 8px 8px 0px;
	font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li{
	text-decoration: none;
	color: white;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

#nav-list li a:hover{
	color: grey;
	border-bottom: 2px solid grey;
}

.nav-list li a{
	transition: color 0.4s,border-bottom 2s;
}

/*social-container*/

.social-container{
	margin-top:20vh;
}

#my-name{
	font-weight: 700;
	font-size: 3rem;
	color: white;
	text-align: center;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}

.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}



/*Section*/
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
	
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color:#2857a4;
	padding-top: 10px;
	margin-right: 0.5rem;
	display:inline-block;

}
section:nth-child(2n){
	background-color: #9e9b9b29;
}

section:nth-child(2n+1){
	background-color: white;
}

/*about section*/

#about{
	height: auto;
    width: 100%;
    position: relative;
}

#my-image{
	height:12rem;
	width: 12rem;
	margin:auto;
	margin-top:-17vh;
}


#my-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 5px 10px 2px lightgrey;
}

#my-image:hover{
	
	border-radius: 40%;
	box-shadow: 1px 5px 10px 2px green;

}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

.text-highlight {
    color: #2857a4;
    font-weight: 600;
}
/*Skills Section*/

.skills-display{
	width:55%;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.skill-progress{
	width: 12rem;
	height: 1.7rem;
	background:#9e9b9b29;
	border-radius: 0.8rem;
	border: 2px solid lightgrey;
}

.skill-progress>div{
	border-radius: 10px 0px 0px 10px;
	height: inherit;
}





.skill-name span{
	font-size: 1.2rem;
	color: white;
	margin-left:13px;
	margin-bottom:5px;
}


/*timeline*/


.timeline{
	width:75%;
	position:relative;

}

.timeline-box{
	left:5%;
	position: relative;
	width: 40%;
	min-height: 100px;
	margin:5px;
}

.timeline-box:nth-child(2n){
	left: 53%;
}

.timeline-divider{
	position: absolute;
	left:50%;
	border: 2px dashed grey;
	height: 85%;
	width:0%;
	top:10%;	
}

.timeline-traveller{
	position: sticky;
	top:20%;
	/*transform: rotate(deg);*/

}

.timeline-box:nth-child(2n)::after{
	content: "";
	position: absolute;
	top:25%;
	left:-9.6%;
	z-index:2;
	width:0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color:black;
}
.timeline-box:nth-child(2n+1)::after{
	content: "";
	position: absolute;
	top:25%;
	right:-12.5%;
	z-index:2;
	width:0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color:black;
}


/*Education*/

.degree-container{
	display: flex;
	flex-direction: column;
	align-items:flex-end;
	
}

.degree{
	/*width:150px;*/
	margin:0px;}

.degree span{ 
	font-size: 1.2rem;
	color: blue;
}

.education-para{
	text-align: right;
	font-size:1rem;
	margin:0px;}

/*portfolio*/

.portfolio-container{
	height:inherit;
	width:75%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding:5%;

}

.cards:hover{
	opacity: 1;
}
.cards{
	width:40%;
	min-height:12rem;
	margin-bottom: 3rem;
	opacity: 0.9;
	tramsition:all 3s;
	display: block;
}
#car-race{
	background-image:url('car-race.jpg');
	background-size: cover;

}
#web-dev{
	background-image:url('web-dev.jpg');
	background-size: cover;
}
#to-do{
	background-image:url('to-do.jpg');
	background-size: cover;
	background-position: center;
}
.cards i{
	font-size:6rem;
}
.cards i:hover{
	color:orange;
}

.port span{
	font-size: 40px;
	color:white;
	padding-top: 10px;
	margin-right: 0.5rem;
	display:inline-block;
}
/*contact section	*/

#contact .section-heading span{
	color:white;
	}
#contact{
	background-color: blue;
	
}
.container{
	width:75%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding:2%;
}
.contact-container{
	width:75%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	left:8%;


}

.mail{
	width:35%;
	
}
.get-in-touch{
	width:35%;
	
}
.footer{
	width:35%;
	left:30%;
	position: relative;
}

.get-in-touch  span{

	font-size: 30px;
	padding-top: 10px;
	margin-right: 0.5rem;
	display:inline-block;
	color: white;
}
.b span{
	font-size: 20px;
	padding-top: 10px;
	margin-right: 0.1rem;
	display:inline-block;
	color: white;
}
/*Margin Class*/

.mb75px{
	margin-bottom: 75px;
}

/*percentages for progress*/

.percentage-80{
	width: 80%;
}

.percentage-60{
	width: 60%;}

.percentage-70{
	width: 70%;
}

.percentage-90{
	width: 90%;
}

.percentage-85{
	width:85%;
}

/* Background Colors*/
.bgreen{
	background-color:green;
}
.bblue{
	background-color:blue;
}
.borange{
	background-color:orange;
}
.bpurple{
	background-color:purple;
}

/*font colors*/

.fgreen{
	color:green;
}

.fblue{
	color:blue;
}
.forange{
	color: orange;
}