body{
	margin: 0px;
	font-size: 30px;
	font-family: serif;

}

/*body-Header*/

#body-header{

	margin:0px;
	padding: 0px;
	height:65vh;
	background-image:url(header.jpg);
	background-size: cover;
	opacity: 0.8;
	background-position:center;
	background-attachment: fixed;
	font-family: sans-serif;
}


/*Horizontal-lists*/

.horizontal-list {
	text-align: center;
	margin:0px;
	padding: 0px;

}

.horizontal-list li{
	display: inline-block;
	padding: 0px;
	margin: 0px 8px 8px 0px;
	font-weight: 100;
    font-size: 0.9rem;
}


.horizontal-list li{
	text-decoration: none;
	color: white;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

#nav-list li a:hover{
	color: grey;
	border-bottom: 2px solid grey;
}

.nav-list li a{
	transition: color 0.4s,border-bottom 2s;
}

/*social-container*/

.social-container{
	margin-top:20vh;
}

#my-name{
	font-weight: 700;
	font-size: 3rem;
	color: white;
	text-align: center;
	letter-spacing: 0.1rem;
	margin-bottom: 0.5rem;
}

.social-icons li a i {
    /*color: red;*/
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

#about{
	height: auto;
    width: 100%;
    position: relative;
}

#my-image{
	height:12rem;
	width: 12rem;
	margin:auto;
	margin-top:-17vh;


}
#my-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}